* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

button {
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}